@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;

    .content {
        max-width: 800px;
        text-align: center;

        h2 {
            font-size: 3em;
            color: #fff;
            font-weight: 500;
        }

        p {
            color: #fff;
            font-size: 1.1em;
            font-weight: 300;
        }
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

    .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;

        .box {
            position: relative;
            padding: 20px 0;
            display: flex;
            cursor: pointer;

            .icon {
                position: relative;
                min-width: 60px;
                height: 60px;
                background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 2px;
                    background: #222;
                }

                b {
                    position: absolute;
                    inset: 8px;
                    background-color: #01dbc2;
                    z-index: 2;
                }

                i {
                    position: relative;
                    z-index: 1000;
                    color: #333;
                    font-size: 1.5em;
                }
            }

            .text {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                font-size: 1.1em;
                color: #fff;
                font-weight: 300;

                h3 {
                    font-weight: 500;
                    color: #01dbc2;
                }
            }
        }

        .txt {
            color: #fff;
            margin-top: 50px;
            font-weight: 500;
            border-left: 50px solid #01dbc2;
            padding-left: 10px;
            line-height: 1em;
        }

        .sci {
            position: relative;
            display: flex;
            gap: 30px;
            margin: 20px 0;

            li {
                list-style: none;

                a {
                    color: #fff;
                    font-size: 1.5em;
                    transition: .25s;

                    &:hover {
                        color: #01dbc2;
                        filter: drop-shadow(0 0 5px #01dbc2);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .contactForm {
        position: relative;
        width: 40%;
        background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
        animation: animate 6s linear infinite;
        padding: 60px;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
            animation: animate 6s linear infinite;
            animation-delay: -1.5s;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 2px;
            border: 20px solid #222;
            background: #333;
        }

        form {
            position: relative;
            z-index: 10;

            h2 {
                font-size: 2em;
                color: #fff;
                font-weight: 500;
            }

            .inputBox {
                position: relative;
                width: 100%;
                margin-top: 20px;

                input,
                textarea {
                    width: 100% !important;
                    padding: 5px 0;
                    font-size: 1.1em;
                    margin: 10px 0;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid #01dbc2;
                    color: #fff;
                    outline: none;
                    resize: none;

                    &:focus~span,
                    &:valid~span {
                        color: #01dbc2;
                        font-size: 0.9em;
                        transform: translateY(-24px);
                    }

                }

                span {
                    position: absolute;
                    left: 0;
                    pointer-events: none;
                    padding: 5px 0;
                    margin: 10px 0;
                    font-size: 1.1em;
                    color: #fff;
                    transition: .5s;
                }

                input[type="submit"] {
                    width: 100%;
                    background: #01dbc2;
                    color: #222;
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                    font-size: 1.2em;
                    font-weight: 500;
                }
            }
        }
    }
}

/*Make it Responsive*/

@media (max-width: 991px) {
    .contact{
        padding: 50px;
        overflow: hidden;
        
    }
    .container {
        flex-direction: column;

        .contactInfo,
        .contactForm {
            width: 100%;
            text-wrap: wrap;
        }

        .contactForm{
            padding: 30px;

            form{
                padding: 10px;
            }
        }
    }

}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}